[submodule "bl-customer"]
	path = bl-customer
	url = https://github.com/OvieMudi/bl-customer.git
[submodule "bl-billing"]
	path = bl-billing
	url = https://github.com/OvieMudi/bl-billing.git
[submodule "bl-worker"]
	path = bl-worker
	url = https://github.com/OvieMudi/bl-worker.git
